In [ ]:
import pandas as pd

In [61]:
# Read vine_table into dataframe
df = pd.read_csv ('vine_table.csv')
df.columns = ["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"]
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
1,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
2,RATOTLA3OF70O,5.0,2.0,2.0,N,N
3,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N
4,R2F53LI9KK9MOY,4.0,2.0,2.0,N,N
...,...,...,...,...,...,...
3105514,R1U2RAML67OKWM,4.0,9.0,9.0,N,N
3105515,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N
3105516,RPLV77JZXG575,4.0,4.0,4.0,N,N
3105517,RHL4UW17ZK72A,5.0,9.0,9.0,N,N
3105518,R34N4QWDXX58WB,4.0,12.0,13.0,N,N

In [62]:
# 1. Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or
# greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
filter_df = df[df.total_votes >= 20.0]
filter_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
7,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
15,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
16,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
21,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
...,...,...,...,...,...,...
3105452,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105472,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105478,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105506,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105515,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [63]:
# 2. Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows
# where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
filter2_df = filter_df[(filter_df.helpful_votes/filter_df.total_votes) >= 0.5]
filter2_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
21,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
32,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
50,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
58,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
...,...,...,...,...,...,...
3105452,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105472,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105478,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105506,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105515,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [64]:
# 3. Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows
# where a review was written as part of the Vine program (paid), vine == 'Y'.
filter3_df = filter2_df[filter2_df.vine == "Y"]
filter3_df

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [65]:
# 4. Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid),
# vine == 'N'.
filter4_df = filter2_df[filter2_df.vine == "N"]
filter4_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
21,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
32,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
50,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
58,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
...,...,...,...,...,...,...
3105452,R2OD2TECAR3RM,5.0,19.0,20.0,N,N
3105472,R117GB0UNIVGV9,5.0,33.0,33.0,N,N
3105478,R1DZ6KX3SWKFK2,5.0,45.0,47.0,N,N
3105506,R2YS7NYUYEWWN0,5.0,26.0,29.0,N,N
3105515,R33HOJ2OWJIDQI,5.0,27.0,27.0,N,N

In [138]:
# 5a. Determine the total number of reviews for the two types of review (paid vs unpaid).
# Total unpaid reviews
total_unpaid_reviews = df[df.vine == 'N']
total_unpaid_reviews_count = total_unpaid_reviews['review_id'].count()
total_unpaid_reviews_count

3105512

In [139]:
# Total paid reviews
total_paid_reviews = df[df.vine == 'Y']
total_paid_reviews_count = total_paid_reviews['review_id'].count()
total_paid_reviews_count

2

In [137]:
# 5b. Determine the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).
# Unpaid 5-star reviews
unpaid_5_star = total_unpaid_reviews[total_unpaid_reviews.star_rating == 5]
unpaid_5_star_count = unpaid_5_star['review_id'].count()
unpaid_5_star_count

1864803

In [140]:
# Paid 5-star reviews
paid_5_star = total_paid_reviews[total_paid_reviews.star_rating == 5]
paid_5_star_count = paid_5_star['review_id'].count()
paid_5_star_count

1

In [141]:
# 5c. Determine the percentage of 5-star reviews for the two types of review (paid vs unpaid).
# Unpaid 5-star percentage
unpaid_5_per = (unpaid_5_star_count/total_unpaid_reviews_count) * 100
unpaid_5_per

60.04816597069984

In [142]:
# 5c. Determine the percentage of 5-star reviews for the two types of review (paid vs unpaid).
# Paid 5-star percentage
paid_5_per = (paid_5_star_count/total_paid_reviews_count) * 100
paid_5_per

50.0